button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  font-family: 'Open Sans', Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #5da423;
  border: 1px solid #396516;
}
button:hover {
    background-color: greenyellow;
}
#timer {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Open Sans', Courier, monospace;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }